@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@200&display=swap');
.services-box
{
    margin: auto;
    width: 70%;
    border-style: none;
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -125px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.service-item
{
    display: inline-block;
    align-items: center;
    width: 33.33%;

}
.service-item-label
{
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.service-item-icon
{
   
    margin: auto;
    width: 25%;
    border: none;
    padding: 10px;
    border-style: none;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.service-ui
{
    background-color: #EFEAFF;
}
.service-mobile
{
    background-color: #FFE5DA;
}
.service-web
{
    background: rgba(0, 176, 255, 0.38);
}


@media screen and (max-width: 1020px) {

    .services-box
    {
        margin: auto;
        width: 100%;
        border-style: none;
        padding: 50px;
        box-shadow: none;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .service-item
    {
        margin: auto;
        width: 50%;
        display: grid;
        align-items: center;
    }
    .service-icon
    {
        width: 100%;
        height: 100%;
    }
    .service-item-label
    {
        font-size: 15px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .service-item-icon
    {
    
        margin: auto;
        width: 25%;
        border: none;
        padding: 10px;
        border-style: none;
        border-radius: 20px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    
}